version: "3.9"

services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  api:
    build:
      context: ./services/api
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      LOG_DIR: /var/log/forgeops
    volumes:
      - logs:/var/log/forgeops
    ports:
      - "${API_PORT}:8080"
    depends_on:
      - postgres
      - redis

  worker:
    build:
      context: ./services/worker
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      LOG_DIR: /var/log/forgeops
      WORKER_METRICS_PORT: ${WORKER_METRICS_PORT}
    volumes:
      - logs:/var/log/forgeops
    ports:
      - "${WORKER_METRICS_PORT}:${WORKER_METRICS_PORT}"
    depends_on:
      - postgres
      - redis

  simulator:
    build:
      context: ./services/simulator
    environment:
      API_URL: http://api:8080
      SIMULATOR_RATE: ${SIMULATOR_RATE}
      SIMULATOR_BURST: ${SIMULATOR_BURST}
    depends_on:
      - api

  prometheus:
    image: prom/prometheus:v2.52.0
    volumes:
      - ./platform/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    depends_on:
      - api
      - worker

  loki:
    image: grafana/loki:2.9.4
    command: -config.file=/etc/loki/loki.yml
    volumes:
      - ./platform/loki/loki.yml:/etc/loki/loki.yml:ro
    ports:
      - "3100:3100"

  promtail:
    image: grafana/promtail:2.9.4
    command: -config.file=/etc/promtail/promtail.yml
    volumes:
      - ./platform/promtail/promtail.yml:/etc/promtail/promtail.yml:ro
      - logs:/var/log/forgeops
    depends_on:
      - loki

  grafana:
    image: grafana/grafana:10.4.2
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_USERS_ALLOW_SIGN_UP: "false"
    volumes:
      - ./platform/grafana/provisioning:/etc/grafana/provisioning
      - ./platform/grafana/dashboards:/var/lib/grafana/dashboards
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
      - loki

volumes:
  postgres_data:
  logs:
